@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro&display=swap");

// 15:47 https://www.youtube.com/watch?v=eRTeF4MPnCg 125% zoom theater mode

* {
  margin: 0;
  padding: 0;
}

body {
  background: #ecf0f1 !important;
}

button,
a {
  cursor: pointer;
}

input,
textarea,
button,
a {
  outline: none;
}

.collapse {
  transition: all 300ms ease-in-out;
  position: fixed;
  left: -270px;
}

.li {
  list-style: none;
  font-size: 25px;
  padding: 15px 10px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  border-radius: 2px;

  &:hover {
    box-shadow: 0px 0px 100px #00000078;
  }
}

.sidebar {
  // background-color: red;
  width: 17vw;
  font-family: "Fira Sans", sans-serif;
  height: 93vh;
  padding-top: 7vh;
  transition: all 300ms ease-in-out;

  nav {
    padding: 18px 17px;
  }
}

.hamburger-li {
  width: fit-content;
  padding: 6px;
  display: grid;
  place-content: center;
  position: absolute;
  top: 5px;
  left: 18px;
  z-index: 20000;

  img {
    height: 42px;
  }
}

.box-shadow {
  box-shadow: 0px 0px 100px #00000078;
}

.main {
  // background-color: yellow;
  width: 93vw;

  .infoContainer {
    // background-color: rgb(159, 255, 6);
    height: 70vh;
    width: 80vw;
    margin: 70px auto;
    display: flex;
    justify-content: space-around;
    border-radius: 2px;
    flex-wrap: wrap-reverse;
    padding: 5px 0px;
  }
}

.devInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Source Code Pro", monospace;

  .hello {
    font-size: 56px;
  }

  .name {
    font-size: 34px;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
  }

  .about {
    font-size: 25px;
  }

  .moreabout {
    font-size: 23px;
    font-family: "Fira Sans", sans-serif;
    margin-top: 10px;
  }

  .buttons {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64%;

    li {
      font-size: 20px;
    }
  }
}

.devPic {
  img {
    height: 70vh;
  }
}

.container {
  display: flex;
}
